
.roomAll_item{
    width: 280px;
    height: 240px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
.titleBox{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #E4E4E4;
}
.title{
    font-weight: 700;
    font-size: 20px;
    color: #4A4A4A;
}
.descriptionBox{
    width: 100%;
    height: 90px;
    padding: 15px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
}
.roomDate{
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #838383;
    margin-left: 15px;
}
.codeBox{
    width: 100%;
    height: 40px;
    padding: 10px 0 10px 15px;
}
.codeBox label{
    font-size: 16px;
    font-weight: 600;
    color:#4A4A4A;
}
.codeBox input{
    width: 180px;
    margin-left: 10px;
    border: none;
}
.codeBox input:focus{
    outline: none;
}
.codeBox input::placeholder{
    font-size: 14px;
}
.join{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 10px 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
}
.green{background-color: #52D093;}
.pink{background-color: #E7505B;}
.orange{background-color: #EE7F4D;}
.yellow{background-color: #F3CE0C;}