
.roomNow_item{
    width: 280px;
    height: 110px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
.titleBox{
    width: 100%;
    padding: 15px 15px 10px;
}
.title{
    font-weight: 700;
    font-size: 20px;
    color: #4A4A4A;
}
.remainDate{
    font-weight: 600;
    font-size: 16px;
    color: #838383;
    margin-left: 15px;
    margin-bottom: 10px;
}
.join{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 0px 10px 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
}
.green{background-color: #52D093;}
.pink{background-color: #E7505B;}
.orange{background-color: #EE7F4D;}
.yellow{background-color: #F3CE0C;}