header{
    width: 100%;
    position: relative;
    height: 95px;
    border-bottom: 1px solid #DADADA;;
}
.header_left{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header_left div{
    margin-right: 60px;
}
.logo{
    width: 69px;
    height: 66px;
    background: url('/public/images/logo.png') 0 center no-repeat;
    background-size: contain;
}
.t_small{
    font-size: 16px;
    font-weight: 600;
}
.t_mid{
    font-size: 20px;
}
.color_lightGrey{
    color: #A8A8A8;
}
.color_grey{
    color: #4A4A4A;
}
.progressBox{
    width: 200px;
    height: 30px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}
.progressBox .amount{
    position: absolute;
    top: 5px;
    left: 20px;
    color:#fff;
    z-index:1 ;
}
.progressBox .progress_bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #52D093;
    border-radius: 5px;
}
.fineBox{
    width: 270px;
    height: 52px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.header_right{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.header_right .editButton{
    width: 100px;
    height: 17px;
    background: url('/public/images/Edit.png') 0 center no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
}
.header_right .myRoom{
    width: 96px;
    height: 21px;
    background: url('/public/images/Room.png') 0 center no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.header_right .logout{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #D0D0D0;
    border: none;
    background: none;
    transition: 0.3s color;
    cursor: pointer;
}
.header_right .logout:hover{
    color: #868686;
}