*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable';
}
body{
  background-color: #F5F5F5;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}
nav{
  list-style: none;
}